@import './variables';

.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.kit-button {
  height: 32px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  border-radius: 4px;
  font-size: $body;
  cursor: pointer;
  color: $text;

  &:hover {
    opacity: 0.5;
    transition: all ease-in-out 0.2s;
  }

  &.-medium {
    height: 16px;
    padding: 16px;
  }

  &.-small {
    height: 8px;
    padding: 12px 16px;
  }

  &.-alt {
    background: $secondary;
  }

  &.-disabled {
    background: $disabled;
    color: $disabled-text;
  }

  &.-disabled:hover {
    opacity: 1;
  }

  &.-line {
    background: none;
    border: 1px solid $primary;
    color: $primary;
  }

  &.-light {
    background: $primary-l;
  }

  &.-lightalt {
    background: $secondary-l;
  }

  &.-lightline {
    background: none;
    border: 1px solid $primary-l;
    color: $primary-l;
  }
}
