@import "./variables";

.log-in {
  display: flex;
  color: $text;
  width: 100%;
  height: 100vh;
  align-items: center;
  overflow: hidden;
  margin: 0;
  justify-content: center;

  > .illustration {
    position: absolute;
    z-index: 4;
    height: 32%;
    bottom: 0;
  }

  > .background {
    display: flex;
    align-items: center;
  }

  > .background > * {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }

  > .background > .gradient {
    background: $color-gradient;
    z-index: 1;
  }

  > .background > .image {
    z-index: 2;
    background-image: url("../assets/Background.png");
    opacity: 0.3;
  }

  > .container {
    display: flex;
    height: 200vh;
    width: 100vw;
    min-width: 560px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $bg1;
    position: relative;
    clip-path: polygon(25% 0%, 100% 0%, 75.89% 116.36%, -4.62% 116.5%);
    z-index: 3;
    margin-top: -234px;
    padding: 32px;
    box-sizing: content-box;
  }

  > .container > .monogram {
    width: 64px;
    margin-bottom: 16px;
  }

  > .container > .title {
    font-size: $h5;
  }

  > .container > .subtitle {
    font-size: $h6;
    margin-bottom: 48px;
  }

  > .container > .subtitle > a {
    color: $primary;
  }

  @media only screen and (min-width: 832px) {
    justify-content: normal;
    

    > .illustration {
      right: 24px;
      height: 60vh;
      margin-top: 0;
      bottom: auto;
    }

    > .container {
      height: 100vh;
      width: 75vw;
      left: -5%;
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      margin-top: 0;
      padding: 0;
    }

    > .container > .title {
      font-size: $h4;
    }
  }
}

.login-container {
  width: 400px;
  margin-bottom: 32px;

  > .actions {
    display: flex;
    justify-content: space-between;
  }

  > .actions > a {
    color: $primary;
  }

  @media only screen and (min-width: 832px) {
    min-width: 200px;
  }
}

.kit-button.-login {
  width: 400px;
}
